<%
  size = defined?(size) ? size : 'default'
  with_padding = defined?(padding) ? padding : true
  
  card_class = size == 'sm' ? 'bg-white dark:bg-gray-700 overflow-hidden shadow rounded-lg text-gray-900 dark:text-gray-100' : 'bg-white dark:bg-gray-700 shadow overflow-hidden sm:rounded-lg text-gray-900 dark:text-gray-100'
  padding_class = with_padding ? 'px-4 py-5 sm:p-6' : ''
%>

<div class="<%= card_class %>">
  <div class="<%= padding_class %>">
    <%= content %>
  </div>
</div>

