<div class="card-sm">
  <div class="p-5">
    <div class="flex items-center">
      <div class="flex-shrink-0">
        <%= render('components/icon', locals: { name: icon, css_class: "h-6 w-6 text-#{color}-600 dark:text-#{color}-400" }) %>
      </div>
      <div class="ml-5 w-0 flex-1">
        <dl>
          <dt class="text-sm font-medium text-label truncate"><%= label %></dt>
          <dd class="text-lg font-medium text-primary"><%= value %></dd>
        </dl>
      </div>
    </div>
  </div>
</div>

