*.gem
*.rbc
/.config
/coverage/
/InstalledFiles
/pkg/
/spec/reports/
/spec/examples.txt
/test/tmp/
/test/version_tmp/
/tmp/

/.bundle/
/vendor/bundle
/lib/bundler/man/

*.log
*.sqlite3
*.sqlite3-journal
*.sqlite3-*

.env
.env.local

/db/*.sqlite3
/db/*.sqlite3-*

/public/assets

node_modules/
/yarn-error.log
yarn-debug.log*
.yarn-integrity

.DS_Store

