<li class="flex items-center">
  <%= render('_icon', locals: { name: 'check', css_class: 'h-5 w-5 text-green-500 dark:text-green-400 mr-2', fill: 'currentColor' }) %>
  <span class="text-gray-700 dark:text-gray-300"><strong><%= label %></strong> - <%= description %></span>
</li>

